RewriteEngine On
Options +FollowSymLinks
RewriteBase /
RewriteRule ^.htaccess$ - [F]
DirectoryIndex index.php


RewriteRule ^.page-([0-9]*)$ task/index.php?n_st=$1 [L]

RewriteRule ^.tabs-([0-9]*)$ task/index.php?tabs=$1 [L]
RewriteRule ^.tabs-([0-9]*).page-([0-9]*)$ task/index.php?tabs=$1&n_st=$2 [L]

#RewriteRule ^all/$ cashbox/index.php?by=all [L]
#RewriteRule ^all/.page-([0-9]*)$ cashbox/index.php?by=all&n_st=$1 [L]

#RewriteRule ^.page-([0-9]*)$ cashbox/index.php?n_st=$1 [L]


php_flag session.use_trans_sid off
php_flag session.use_only_cookies on