RewriteEngine On
Options +FollowSymLinks
RewriteBase /
RewriteRule ^.htaccess$ - [F]
DirectoryIndex index.php

RewriteRule ^all/$ cash/all.php [L]
RewriteRule ^all/\.page\-([0-9]*)$ cash/all.php?n_st=$1 [L]
php_flag session.use_trans_sid off
php_flag session.use_only_cookies on