/* Scss Document */

/*цвета проекта*/

$INDEX_link: #ffc;
$INDEX_link_hover: #ffc;


/*цвета основного меню сверху*/

$OM_bg:#00aeef; /*фон*/
$OM_bg_hover:#ddf0f9;          /*фон наведение*/
$OM_link:#fff;                 /*ссылка*/
$OM_link_shadow:#018bbe;       /*ссылка тень*/
$OM_link_hover:#00aeef;        /*ссылка наведение*/
$OM_link_hover_shadow:#cfdfe7; /*ссылка тень наведение*/
$OM_bg_rekl:#fd4b25;           /*фон рекламного блока*/
$OM_bg_rekl_hover:#ab3016;     /*фон при наведении рекламного блока*/
$OM_link_rekl:#fff;            /*ссылка рекламный блок*/
$OM_link_rekl_hover:#fff;      /*ссылка наведение рекламный блок*/
$OM_link_rekl_shadow:#ab3016;  /*тень ссылки рекламного блока*/

/*цвета основного меню сверху конец*/

/*цвета всплывающего меню*/

$VM_header:#555;                   /*заголовок*/
$VM_bg:#ddf0f9;                     /*фон*/
$VM_link:#00aeef;                   /*ссылка*/
$VM_link_bottom_line:#a6c9e7;       /*ссылка подчеркивание*/
$VM_link_hover:#fd4b25;             /*ссылка наведение*/
$VM_link_hover_bottom_line:#fd4b25; /*ссылка подчеркивание наведение*/
$VM_new:#95d13a;                    /*новое*/
$VM_line_pop:#95d13a;               /*линия популярные теги*/
$VM_link_hover_gde:#95d13a;         /*наведение где отметить*/
$VM_line_bottom:#00aeef;            /*линия снизы всего всплывающего меню*/
$VM_show_all:#fd4b25;               /*показать все*/

/*цвета всплывающего меню конец*/


/*цвета дополнительное меню сверху*/

$DM_link:#62aded;       /*ссылка*/
$DM_link_hover:#95d13a; /*ссылка наведение*/
$DM_bg:#484848;         /*фон*/
$DM_bg_hover:#393a3a;   /*фон активной*/


/*цвета дополнительное меню сверху конец*/