/* Scss Document */
@import "compass/typography";
@import "compass/css3";


/*Экран по ширине меньше чем тогда*/
@include max-screen(768px) { }
/*Экран по ширине больше чем тогда*/
@include max-screen(768px) { }
/*Экран по высоте меньше чем тогда*/
@include max-screen-height(1024px) { }
/*Экран по высоте больше чем тогда*/
@include max-screen-height(1024px) { }


$fontSR:'SegoeUIRegular';
$fontSB:'SegoeUIBold';
$fontSI:'SegoeUIItalic';
$fontSL:'SegoeUILight';
$fontSSB:'SegoeUISemiBold';

$fontAR:'AgoraSansProRegular';
$fontAB:'AgoraSansProBold';

$fontGR:'GEInspiraRegular';
$fontGB:'GEInspiraBold';
$i:'icon1';
$i2:'icon2';
$fontlg:'lg';

$fontll:'lato-light';
$fontlr:'lato-regular';
$fontlb:'lato-bold';


$fontGeR:'gerbera-webfont';
$fontGeB:'gerbera_bold-webfont';
$fontGeL:'gerbera_light-webfont';
$fontFu:'fugue_headline-webfont';
$fontFuR:'fugue_regular-webfont';


@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff ttf) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}
/*
@include font-include('lato-light','normal','normal'); 
@include font-include('lato-regular','normal','normal'); 
@include font-include('lato-bold','normal','normal'); 
*/


@include font-face("opensans-regular-webfont", $src-domain + "fonts/opensans-regular-webfont/opensans-regular-webfont", "normal", "normal");
@include font-face("opensans-regular-webfont", $src-domain + "fonts/opensans-regular-webfont/opensans-regular-webfont", "normal", "normal");
@include font-face("SegoeUIBold", $src-domain + "fonts/SegoeUIBold/SegoeUIBold", "normal", "normal");
@include font-face("SegoeUIRegular", $src-domain + "fonts/SegoeUIRegular/SegoeUIRegular", "normal", "normal");
@include font-face("SegoeUIItalic", $src-domain + "fonts/SegoeUIItalic/SegoeUIItalic", "normal", "normal");
@include font-face("SegoeUILight", $src-domain + "fonts/SegoeUILight/SegoeUILight", "normal", "normal");
@include font-face("SegoeUISemiBold", $src-domain + "fonts/SegoeUISemiBold/SegoeUISemiBold", "normal", "normal");
@include font-face("AgoraSansProRegular", $src-domain + "fonts/AgoraSansProRegular/AgoraSansProRegular", "normal", "normal");
@include font-face("AgoraSansProBold", $src-domain + "fonts/AgoraSansProBold/AgoraSansProBold", "normal", "normal");
@include font-face("GEInspiraRegular", $src-domain + "fonts/GEInspiraRegular/GEInspiraRegular", "normal", "normal");
@include font-face("GEInspiraBold", $src-domain + "fonts/GEInspiraBold/GEInspiraBold", "normal", "normal");


@include font-face("gerbera-webfont", $src-domain + "fonts/gerbera-webfont/gerbera-webfont", "normal", "normal");
@include font-face("gerbera_light-webfont", $src-domain + "fonts/gerbera_light-webfont/gerbera_light-webfont", "normal", "normal");
@include font-face("gerbera_bold-webfont", $src-domain + "fonts/gerbera_bold-webfont/gerbera_bold-webfont", "normal", "normal");
@include font-face("fugue_headline-webfont", $src-domain + "fonts/fugue_headline-webfont/fugue_headline-webfont", "normal", "normal");
@include font-face("fugue_regular-webfont", $src-domain + "fonts/fugue_regular-webfont/fugue_regular-webfont", "normal", "normal");
@include font-face("LabGrotesque-Regular", $src-domain + "fonts/LabGrotesque-Regular/LabGrotesque-Regular", "normal", "normal");
@include font-face("LabGrotesque-Light", $src-domain + "fonts/LabGrotesque-Light/LabGrotesque-Light", "normal", "normal");

@include font-face("icon1", $src-domain + "fonts/icon1/icon1", "normal", "normal");
@include font-face("icon2", $src-domain + "fonts/icon2/icon2", "normal", "normal");
@include font-face("lg", $src-domain + "fonts/lg/lg", "normal", "normal");

//@include font-include('opensans-regular-webfont','normal','normal'); 

/*
@include font-include('SegoeUIBold','normal','normal'); 
@include font-include('SegoeUIRegular','normal','normal');
@include font-include('SegoeUIItalic','normal','normal');
@include font-include('SegoeUILight','normal','normal');
@include font-include('SegoeUISemiBold','normal','normal');
@include font-include('AgoraSansProRegular','normal','normal');
@include font-include('AgoraSansProBold','normal','normal');
@include font-include('GEInspiraRegular','normal','normal');
@include font-include('GEInspiraBold','normal','normal');
*/
/*
@include font-include('gerbera-webfont','normal','normal'); 
@include font-include('gerbera_light-webfont','normal','normal'); 
@include font-include('gerbera_bold-webfont','normal','normal'); 

@include font-include('fugue_headline-webfont','normal','normal'); 
@include font-include('fugue_regular-webfont','normal','normal'); 

@include font-include('LabGrotesque-Regular','normal','normal'); 
@include font-include('LabGrotesque-Light','normal','normal'); 
@include font-include('icon1','normal','normal');
@include font-include('icon2','normal','normal');
@include font-include('lg','normal','normal');
*/