/* Scss Document */

/*переменные проекта*/

$iurl: '../../image/';
$image-path: '../../image';
$src-domain: '../../';

/*максимальные и минимальные размеры ширины сайта*/
$max-width: 1600px;
$min-width: 360px;
$color: rgba(0,0,0,0.9);

.container {
    max-width: $max-width;
    min-width: $min-width;
    width: 100%;	margin: auto;
}



$base-font-size: 14px !global;
$base-line-height:21px !global;
$rhythm-unit: 'rem' !global;
$rem-with-px-fallback: true !global;

@include establish-baseline;

.container,.iss { margin-bottom: 0px !important;padding-bottom: 0px !important; height:100%;}
body, html {min-height: 100%; height: auto !important; height: 100%;}
